html {
    font-size: 10px;
}

body {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-image: url(img/matrix1.png);
    font-family: 'Special Elite', Roboto, sans-serif;
    font-weight: bold;
}
.main-styles {
    min-height: 45vh;
    width: 60vw;
    margin: 20vh auto;
    border-radius: 5px;
}

textarea {
    display: block;
    margin: 0 auto;
    width: 70%;
    min-height: 2rem;
    border: none;
    background-color: #000;
    resize: none;
    outline: none;
    color: #19ff41;
    font-size: 2rem;
    padding: 3rem;
    overflow: hidden;
    box-shadow:0px 0px 31px rgba(0, 0, 0, 0.8);
}
.keyboard-styles {
    width: 100%;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info {
    font-size: 1.5rem;
    color: rgba(22, 176, 80, 1);
}

.key-style, .alt, .caps, .shift, .tab, .enter, .ctrl, .space, .backspace {
    display: inline-block;
    background-color: rgba(22, 176, 80, .5);
    border-radius: 5px;
    height: 3.5rem;
    margin: 0.3rem;
    font-size: 1.8rem;
    color: #000;
    transition: ease-in .1s;
    text-align: center;
    padding-top: 1rem;
}

.key-style, .alt {
    width: 4.5rem;
}
.caps, .backspace {
    width: 10rem;
}
.shift {
    width: 10rem;
}
.tab {
    width: 7rem;
}
.enter {
    width: 8rem;
}
.ctrl {
    width: 6.5rem;
}
.space {
    width: 30rem;
}

.active {
    border-radius: 20px !important;
    background-color: rgba(22, 176, 80, 1);
    box-shadow: 0px 0px 21px -1px #56E033;
}
